---
name: activity
url: /activity
---

<div class="grid-block small-up-1">

  <div class="grid-content">
    <a href="#">
      <div class="card">
        <div class="card-divider">
          Posted
        </div>
        <div class="card-section">
          <h4>Name of Kitten</h4>
          <p>Description of kitten.</p>
        </div>
      </div>
    </a>
  </div>

  <div class="grid-content">
    <a href="#">
      <div class="card">
        <div class="card-divider">
          Posted
        </div>
        <div class="card-section">
          <h4>Name of Kitten</h4>
          <p>Description of kitten.</p>
        </div>
      </div>
    </a>
  </div>

  <div class="grid-content">
    <a href="#">
      <div class="card">
        <div class="card-divider">
          Posted
        </div>
        <div class="card-section">
          <h4>Name of Kitten</h4>
          <p>Description of kitten.</p>
        </div>
      </div>
    </a>
  </div>

</div>

