---
name: home
url: /
---

<div class="grid-block small-up-2 medium-up-2 large-up-3">

  <div class="grid-content">
    <a ui-sref="activity">
      <div class="card">
        <img src="http://placekitten.com/g/400/200" />
        <div class="card-divider">
          Posted
        </div>
        <div class="card-section">
          <h4>Name of Kitten</h4>
          <p>Description of kitten.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="grid-content">
    <a ui-sref="activity">
      <div class="card">
        <img src="http://placekitten.com/g/400/200" />
        <div class="card-divider">
          Posted
        </div>
        <div class="card-section">
          <h4>Name of Kitten</h4>
          <p>Description of kitten.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="grid-content">
    <a ui-sref="activity">
      <div class="card">
        <img src="http://placekitten.com/g/400/200" />
        <div class="card-divider">
          Posted
        </div>
        <div class="card-section">
          <h4>Name of Kitten</h4>
          <p>Description of kitten.</p>
        </div>
      </div>
    </a>
  </div>

  <div class="grid-content">
    <a ui-sref="activity">
      <div class="card">
        <img src="http://placekitten.com/g/400/200" />
        <div class="card-divider">
          Posted
        </div>
        <div class="card-section">
          <h4>Name of Kitten</h4>
          <p>Description of kitten.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="grid-content">
    <a ui-sref="activity">
      <div class="card">
        <img src="http://placekitten.com/g/400/200" />
        <div class="card-divider">
          Posted
        </div>
        <div class="card-section">
          <h4>Name of Kitten</h4>
          <p>Description of kitten.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="grid-content">
    <a ui-sref="activity">
      <div class="card">
        <img src="http://placekitten.com/g/400/200" />
        <div class="card-divider">
          Posted
        </div>
        <div class="card-section">
          <h4>Name of Kitten</h4>
          <p>Description of kitten.</p>
        </div>
      </div>
    </a>
  </div>

  <div class="grid-content">
    <a ui-sref="activity">
      <div class="card">
        <img src="http://placekitten.com/g/400/200" />
        <div class="card-divider">
          Posted
        </div>
        <div class="card-section">
          <h4>Name of Kitten</h4>
          <p>Description of kitten.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="grid-content">
    <a ui-sref="activity">
      <div class="card">
        <img src="http://placekitten.com/g/400/200" />
        <div class="card-divider">
          Posted
        </div>
        <div class="card-section">
          <h4>Name of Kitten</h4>
          <p>Description of kitten.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="grid-content">
    <a ui-sref="activity">
      <div class="card">
        <img src="http://placekitten.com/g/400/200" />
        <div class="card-divider">
          Posted
        </div>
        <div class="card-section">
          <h4>Name of Kitten</h4>
          <p>Description of kitten.</p>
        </div>
      </div>
    </a>
  </div>

  <div class="grid-content">
    <a zf-open="overlay" class="button large" href="#">Overlay</a>
  </div>

  <div zf-modal="" id="overlay">
    <a zf-close="" class="close-button">×</a>
    <ul class="vertical menu-bar">
      <li><a href="#">Message</a></li>
      <li><a href="#">Draw</a></li>
      <li><a href="#">Note</a></li>
      <li><a href="#">Photo</a></li>
    </ul>
  </div>

</div>
